body{
    background-color:#fff;
    width:100%;
    margin:0 auto 0 auto;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    line-height: 170%;
    font-size:20px;
    font-weight:400;
}
h1{
    color:#f50557;
    text-align:center;
    font-size:38px;
    font-weight:700;
    margin:0;
    line-height: 170%;
}
h2{
    color:#212121;
    text-align:center;
    font-size:32px;
    font-weight:400;
    line-height: 170%;
}
h2.left{
    color:#212121;
    text-align:left;
    font-size:32px;
    font-weight:400;
    line-height: 170%;
}
h2.white{
    color:#fff;
    text-align:center;
    font-size:32px;
    font-weight:400;
    line-height: 170%;
}
h2.special{
    color:#212121;
    text-align:left;
    font-size:32px;
    font-weight:200;
    line-height: 170%;
}
h2.specialCenter{
    color:#212121;
    text-align:center;
    font-size:32px;
    font-weight:200;
    line-height: 170%;
}
h3{
    color:#212121;
    text-align:left;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
h3.white{
    color:#fff;
    text-align:left;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
.column .next--top-btn{
    padding: 5px 0;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
}
.column .next--top-btn:hover{
    /* padding: 5px 0; */
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
}
.header{
    background-color:#212121;
    padding:15px 0px 15px 0px;
    text-align:center;
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    width:100% !important;
    margin-bottom:0px;
    margin-top:0px;
}
.navigation{
    background-color:#303030;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    color:#ffffff;
    font-size:16px;
    font-weight:400;
    width:100% !important;
    margin-bottom:0px;
    margin-top:0px;
}
a.navlink:link{
    color: #ffffff;
    text-decoration: none;
}
a.navlink:visited{
    color: #ffffff;
    text-decoration: none;
}
a.navlink:hover{
    color: #ffffff;
    text-decoration: underline;
}
a.navlink:active{
    color: #ffffff;
    text-decoration: none;
}
a.greenlink:link{color: #f50557;
    text-decoration: none;
}
a.greenlink:visited{
    color: #f50557;
    text-decoration: none;
}
a.greenlink:hover{
    color: #f50557;
    text-decoration: underline;
}
a.greenlink:active{
    color: #f50557;
    text-decoration: none;
}
a:link{
    color: #1a0dab;
    text-decoration: none;
}
a:visited{
    color: #1a0dab;
    text-decoration: none;
}
a:hover{
    color: #1a0dab;
    text-decoration: underline;
}
a:active{
    color: #1a0dab;
    text-decoration: underline;
}
a.popular:link{
    color: #ffffff;
    text-decoration: none;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
a.popular:visited{
    color: #ffffff;
    text-decoration: none;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
a.popular:hover{
    color: #ffffff;
    text-decoration: underline;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
a.popular:active{
    color: #ffffff;
    text-decoration: none;
    font-size:24px;
    font-weight:700;
    line-height: 170%;
}
a.footer-link:link{
    color: #ffffff;
    text-decoration: none;
}
a.footer-link:visited{
    color: #ffffff;
    text-decoration: none;
}
a.footer-link:hover{
    color: #ffffff;
    text-decoration: underline;
}
a.footer-link:active{
    color: #ffffff;
    text-decoration: underline;
}
.table{
    border-collapse:collapse;
    width:90% !important;
}
th, td{
    text-align: left;
    padding:6px !important;
    min-width:90px;
    border:1px solid black !important;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}th{
    background-color: #f50557;
    color: white;
}
table.center{
    margin-left:auto;
    margin-right:auto;
    overflow-x:auto;
}
.video-container{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container embed,.video-container iframe,.video-container object{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.next{
    /* background-color:#212121; */
    border: solid 2px #f50557;
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    color:#f50557;
    font-size:20px;
    text-decoration:none;
    margin:20px 0px 20px 0px;
    width:100%;
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background-color 600ms ease-out;
    transition: background-color 600ms ease-out;
    border-radius: 15px;
}

.next:hover{
    background-color: #f50557;
    cursor: pointer;
    border: solid 2px #f50557;
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    color:#ffffff;
    font-size:20px;
    text-decoration:none;
    margin:20px 0px 20px 0px;
    width:100%;
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
}
.next--black{
    background: transparent;
    border: 2px solid white;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.zoe-unique{
    text-align: center;
}
.next--black:hover{
    background-color: #212121;
    border: 2px solid #212121;
    margin-bottom: 0;
}
.next--rose{
    background-color: white;
    color: #f50557;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.footer{
    background-color:#212121;
    padding-top:20px;
    padding-bottom:10px;
    text-align:center;
    color:#fff;
    font-size:14px;
    font-weight:400;
    width:100% !important;
    margin-bottom:0px;
    margin-top:0px;
}
.footer-pad{
    padding-bottom: 80px;
}
.fixed-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    color:#ffffff;
    font-size:20px;
    font-weight:400;
    text-align: center;
    -webkit-transition: background-color 600ms ease-out;
    transition: background-color 600ms ease-out;
    
    display: none;
}
.fixed-footer--display{
    display: block;
}
.fixed-footer:hover{
    background-color: #f50557;
    cursor: pointer;
}
.content-black{
    background-color:#212121;
    width: 100%;
    padding:20px 0px 50px 0px;
}
.content-black--no-pad{
    padding: 20px 0;
    background-color: #ffffff;
}
.inside-black{
    width:1000px;
    max-width:95%;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    padding:0px 0px 0px 0px;
}
.content-yellow{
    background-color:#f9ecbe;
    width: 100%;
    padding:50px 0px 50px 0px;
}
.inside-yellow{
    width:1000px;
    max-width:95%;
    color: #212121;
    text-decoration: none;
    margin: 0 auto;
    padding:0px 0px 0px 0px;
}
.content-white{
    background-color:#fff;
    width: 100%;
    padding:0px 0px 50px 0px;
}
.content-white--no-pad{
    padding-bottom: 0;
}
.inside-white{
    width:1000px;
    max-width:95%;
    color: #212121;
    text-decoration: none;
    margin: 0 auto;
    padding:0px 0px 0px 0px;
}
.content-red{
    background-color:#f50557;
    width: 100%;
    padding:50px 0px 30px 0px;
}
.inside-red{
    width:1000px;
    max-width:95%;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    padding:0px 0px 0px 0px;
}
.content-grey{
    background-color:#eaeaea;
    width: 100%;
    padding:0px 0px 0px 0px;
    clear: both;
}
.content-grey--white{
    background-color: white;
}
.content-grey--white .centerImage{
    max-width: 1000px;
}
.centerImage{
    text-align:center;
    display:block;
    max-width:1920px;
    width:100%;
    margin:0px auto 0px auto;
}
.centerImageOriginal{
    text-align:center;
    display:block;
    max-width:100%;
    margin:10px auto 10px auto;
}
.centerImageOriginalIG{
    text-align:center;
    display:block;
    max-width:100%;
    /* margin:10px auto 10px auto; */
    /* margin-bottom: 5px; */

    -webkit-transition: all 0.5s linear;
    
    transition: all 0.5s linear;
    cursor: pointer;
}

.centerImageFooter{
    text-align:center;
    display:block;
    max-width:100%;
    margin:0px auto 15px auto;
}
.centerImageNW{
    text-align:center;
    display:block;
    max-width:100%;
    width:100%;
    margin:30px auto 0px auto;
}
.centerImageNW{
    margin: 0;
}
/* animated words */
.no-animate{
    display: none;
}
.animated-words{
    display: inline-block;
    font-size: 36px;
    width: 170px;
}
.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s; 
    color: #212121;
    letter-spacing: 8px;
}
.animated-words span:nth-child(3) { 
    /* -webkit-animation-delay: 6s;  */
    -webkit-animation-delay: 5s;
            animation-delay: 5s; 
    color: #212121; 
}
.animated-words span {
    position: absolute;
    top: 0;
    opacity: 0;
    overflow: hidden;
    color: #212121;
    font-weight: 200;
    -webkit-animation: animateWord 7.5s linear infinite 0s;
            animation: animateWord 7.5s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    20% {opacity: 1;}
    25% { opacity: 0;}
    100% { opacity: 0; }
}

.stars{
    color: gold;
    font-size:30px;
    letter-spacing: 6px;
}
.verified{
    color: #c45500;
    font-size:17px;
}
.checkmark{
    font-weight: bold;
}
hr.green{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #f50557;
    /* background-color: #f50557; */
    background-color: #212121;
    height: 1px;
    border: 0;
    width:100%;
    clear: both;
}
.green--mb{
    margin-bottom: 30px;
}
hr.white{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #fff;
    height: 1px;
    border: 0;
    width:100%;
}
hr.grey{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #343434;
    background-color: #343434;
    height: 1px;
    border: 0;
    width:100%;
}
.column{
    float:left;
    width:68%;
    padding:1%;
}
.column2{
    float:left;
    width:28%;
    padding:1%;
}
.ReviewColumn{
    float:left;
    width:20%;
    padding:1%;
    margin-bottom:25px;
}
.ReviewColumn2{
	float:left;
    width:76%;
    padding:1%;
    font-size:17px;
    margin-bottom:25px;
}
.column3{
    float:left;
    width:31.33%;
    padding:1%;
}

.column3--no-float{
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.column3__video{
    float: right;
    max-width: 50%;
    width: 100%;
    border: 0;
    overflow: hidden;
    color: white;
    margin-bottom: 60px;
}
.column3__video-header{
    font-weight: 400;
    font-size: 28px;
    color: black;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}
.column3x3{
    /* float:left; */

    width:31.33%;
    /* padding: 0 1%; */
    margin: 10px;

    overflow: hidden;
    position: relative;
}
.column__btn{
    display: inline-block;
    width: 200px;
    margin-right: 45px;
}
.column__btn:last-child{
    margin-right: 0;
}
.column__btn a{
    color: #f50557;
    border-radius: 15px;
}
.column__btn .next--rose__full{
    background: #f50557;
    color: white;
}

.next--ib{
    display: inline-block;
}
/* hovers */
.column3x3:hover .column3x3-hover{
    opacity: 0.7;
}
.column3x3:hover .centerImageOriginalIG{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
.column3x3-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    cursor: pointer;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.row-item-half{
    width: 50%;
}
.row-item-third{
    width: 26%;
    margin-right: 5%;
}
.row-item-seventh{
    width: 70%;
    padding-top: 70px;
    text-align: right;
}
.row-item-half:first-child{
    margin-right: 3%;
}
.row-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row-flex-features{
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; */
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
}
.row-flex-features .column3-fitem{
    float: left;
    width: 50%;
}
.text-image__desc{
    font-weight: 200px;
    font-size: 18px;
    margin-bottom: 36px;
}
.lh-135{
    line-height: 135%;
}
.fs-26{
    font-size: 26px;
}
/* font awesome css */
.fa-instagram{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
/* slick modal */
.modal-slider{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    display: none;
    z-index: 2; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
}
.modal-slider-show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal-slider__wrap{
    max-width: 800px; 
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;

    position: relative;
}
.modal-slider__slide{
    background: white;
    position: relative;
}
.modal-slider__container{
    height: auto;
}
.slide-mo-desc{
    font-size: 13px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px 5px 5px 5px;
}
.slide-mo-desc__user{
    text-align: center;
    color: #a1a1a1 !important;
    font-size: 12px;
    text-decoration: none;
}
.slide-mo-desc__user:hover{
    text-decoration: none;
}
.modal-slider-controls{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    top: 50%;
}
.modal-slider-controls--left{
    position: absolute;
    left: -25px;
}
.modal-slider-controls--right{
    position: absolute;
    right: -25px;
}
.modal-slider-controls svg{
    fill: white;
    width: 15px;
}
.slide-mo-left{
    width: 60%;
    /* display: inline-block; */
    float: left;
}
.close-modal{
    position: absolute;
    right: 8px;
    top: 5px;
}
.close-modal svg{
    width: 12px;
    cursor: pointer;
}
.slide-mo-left img{
    width: 100%;
}
.slide-mo-right{
    width: 38%;
    display: inline-block;
    vertical-align: top;
}
.slide-mo-socials{
    position: absolute;
    bottom: 0;
    right: 0;
}
.slide-controls-responsive{
    display: none;
}
/* open video modal */
/* .video-overlay-popup{
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 100;
}
.video-overlay-popup__media{
    margin: 20px auto;
    width: 90%;
}
.video-overlay-popup__video-wrap{
    position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-overlay-popup__video-wrap iframe, .video-overlay-popup__video-wrap object, .video-overlay-popup__video-wrap embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
} */
.video-overlay-popup__video-wrap{
    display: none;
    
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 2%;
    z-index: 300;
    background: black;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.video-overlay-popup__video-wrap--active{
    display: block;
}
.body-fix{
    position: fixed;
}
.video-overlay-popup__video-wrap iframe{
    width: 100%;
    height: 100%;
}
.video-overlay-popup__close-btn{
    position: fixed;
    top: 1%;
    right: 2%;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
/* editing preset button */

/* pre footer */
.above-footer{
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 30px;
}
.above-footer__wrapper{
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
}
.footer-column-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-column{
    width: 25%;
}
.footer-column .block-title-column{
    font-size: .875em;
    color: #505050;
    margin: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.footer-column-links{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.footer-column-links a{
    color: #665;
    font-size: .718em;
    text-transform: uppercase;
}
.block-title-column .fa{
    display: none;
}
.footer-link{
    font-size: .75em;
}
.footer-link a{
    color: white;
}
.footer-link a:hover{
    text-decoration: none;
}
/* payments */
.footer-payments{
    margin-top: 55px;
}
.footer-payments__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.footer-payments__item:last-of-type{
    margin-right: 0;
}
.footer-payments__item svg{
    width: 50px;
    height: 50px;
}
.footer-payments__list{
    text-align: center;
    padding-left: 0;
}
.guarantee{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.guarantee__item{
    width: 30.333%;
}
.guarantee__img-holder{
    width: 328px;
    max-width: 100%;
}
.guarantee__img-holder img{
    /* width: 100%; */
    /* width: 328px; */
    /* height: 285px; */
    max-height: 285px;
    width: 100%;
}
.guarantee__header{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    /* white-space: nowrap; */
}
.guarantee__desc{
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    line-height: 1.6;
}
.guarantee__item:first-of-type .guarantee__header{
    /* padding-bottom: 18.8px; */
}
.guarantee__item:last-of-type .guarantee__header{
    /* padding-bottom: 18.8px; */
}
/* about us page */
.about-us__header{
    font-size: 35px;
    font-weight: 400;
}
.about-us__header--privacy{
    font-size: 25px;
}
.about-us__desc{
    font-size: 16px;
}
.about-us__conclusion{
    font-size: 20px;
    font-weight: 400;
}
.content-white--small-pad{
    padding-bottom: 15px
}
/* press release page */
.press-release__header a{
    text-decoration: none;
    color: black;
}
.press-release__header p{
    margin-bottom: 11px;
    
}
.press-release__header{
    font-size: 26px;
    font-weight: 400;
}
.press-release__date{
    color: black;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 20px;
}
.press-release{
    border-bottom: 1px solid #212121;
}
.press-release:last-of-type{
    border-bottom: none;
}
.press-release__img{
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    margin-bottom: 20px;
}
.press-release__img img{
    width: 100%;
}
.press-release__text{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 35px;
}
.policy-header{
    font-weight: 700;
}
/* yt videos */
.video-container{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden
}
.video-container embed,.video-container iframe,.video-container object{
    position:absolute;top:0;left:0;width:100%;height:100%
}
.yt-videos__desc{
    background-color: #eaeaea;
    background-image: url(https://qyksonic.imgix.net/skincare-professionals-about-zoe-quotes-bg-black-and-white.jpg);
    background-position: center;
    color: #fff;
    padding: 25px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.yt-videos__username{
    padding: 5px;
    background-color:rgb(255,255,255,0.2);
    color: #ffffff;
    margin-top: 23px;
    /* width: fit-content; */
    display: inline-block;
}
.yt-videos__quote{
    font-size: 28px;
}
.quote{
    position: absolute;
    bottom: 1%;
    right: 4%;
    font-size: 7rem;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 0.2;
}
.row-flex--mar-bot{
    margin-bottom: 30px;
}
.zoe-unique{
    clear: both;
    /* margin: 30px 0; */
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0;
}
.zoe-unique:last-of-type{
    padding-top: 0;
    padding-bottom: 30px;
}


.zoe-unique--half{
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    clear: none;
    margin: 0;
    padding: 0;
}
.big-rose-text{
    display: block;
    color: #6f6e6e;
    font-size: 100px;
    line-height: 100%;
    font-weight: 200;
    
}
.content-white--header{
    padding-bottom: 0;
}
.inside-white--header{
    position: relative;
    min-height: 590px;
}
.inside-white--header .column{
    z-index: 5;
    position: relative;
    text-align: left;
    width: 62%;
    margin-top: 80px;
}
.inside-white--header .column2{
    position: absolute;
    right: 0;
    width: 53.4%;
    z-index: 0;
    bottom: 0;
    padding: 0;
}
.column h2{
    text-align: left;
}
.column__header{
    font-size: 36px;
    text-align: left;
    font-weight: 300;
    margin: 0;
    text-align: left;
    position: relative;
    color: #212121;
    
    font-weight: 200;
    line-height: 135%;
}
.column__desc{
    text-align: left;
    font-size: 17px;
    line-height: 180%;
}
.column__desc p{
    width: 70%;
    display: inline-block;
}
.column__btn{
    /* margin-right: 25px; */
    margin-right: 11px;
}
.column__btn .next{
    /* padding: 20px 0; */
    padding: 15px 0;
}
.row-flex--full-m{
    clear: both;
}
.text-image__desc{
    font-weight: 200;
    font-size: 28px;
}
/* video desc */
.video-desc-list{
    width: 44%;
    display: inline-block;
}
.video-desc-list__filled{
    background-color: #6f6e6e;
    color: #dfdfdf;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.video-desc-list__filled--small{
    display: block;
    font-size: 18px;
}
.video-desc-list__filled--mar{
    /* margin-bottom: 0; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.video-desc-list__filled--no-mar{
    /* margin-bottom: 0; */
    margin: 10px 0;
}
.video-desc-list__num{
    display: block;
    font-size: 38px;
    font-weight: 200;
    color: #212121;
    text-align: center;
}
.video-desc-list__light{
    font-size: 17px;
    display: block;
    color: #212121;
    text-align: center;
    margin: 10px 0;
}
.video-desc-list__bord{
    border: 2px solid #d9d9d9;
    color: #212121; 
    text-align: center;
    border-radius: 15px;
    margin: 15px 0;
}
.video-desc-list__bord--center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
}
.video-desc-list__bord--no-mar{
    border: 2px solid #d9d9d9;
    color: #212121;
    text-align: center;
    border-radius: 15px;
    /* margin: 15px 0; */
    width: 55%;
    margin: 0 auto;
}
.video-desc-list__norm{
    font-size: 17px;
    color: #575757;
    text-align: center;
}
.video-desc-list__italic{
    font-style: italic;
    text-align: center;
    display: block;
}
.video-desc-list__holder--two{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6px;
}
.video-desc-list__gray{
    color: gray;

}
.video-desc-list__holder--two .video-desc-list__bord{
    /* margin-left: 10px; */
    padding: 0 10px;
    margin: 0 0 0 10px;
}
.video-desc-list__holder--two .video-desc-list__norm--big{
    font-size: 17px;
}
.video-desc-list__norm--big{
    text-align: center;
}
.video-desc-list__holder--three{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.video-desc-list__holder--three .video-desc-list__norm{
    font-size: 15px;
}
.video-desc-list__holder--three .video-desc-list__bold{
    padding: 0 5px;
    font-size: 22px;
}
.device-text--right{
    padding: 160px 10px 10px 10px;
    text-align:right;
    font-style: italic;
    font-size: 20px;
    line-height: 180%;
}
.device-text--left{
    padding: 140px 10px 10px 10px;
    text-align:left;
    font-style: italic;
    font-size: 20px;
    line-height: 180%;    
}
.device{
    width:15.33%;
    padding:7%;
}
.device--front{
    float: left;
}
.device--reverse{
    float: right;
}
/* footer socials */
.footer-socials__list{
    margin: -3px 0 0 0;
    padding: 0;
}
.footer-socials__items{
    display: inline-block;
    padding: 0 4px;
}
.footer-socials__items:hover a{
    color: grey;
}
.footer-socials__items a{
    color: white;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.unique-header{
    margin-top: 55px;
    font-size: 24px;
}
.fw-200{
    font-weight: 200;
}
@media (max-width: 600px) {
    /* POPRAVI OVAJ IMPORTANT */
    .inside-white--header .column2{
        width: 100% !important;
    }
    .column__btn .next--top-btn{
        padding: 5px 0;
        border-radius: 40px;
        font-size: 12px;
        font-weight: 400;
    }
    .video-desc-list{
        width: 100%;
    }
    .no-animate{
        display: inline-block;
    }
    .animated-words{
        display: none;
    }
    .video-desc-list__filled--mar{
        font-size: 17px;
    }
    .video-desc-list__bord--no-mar{
        width: 70%;
    }
    .column__btn .next--rose__full:hover{
        padding: 20px 0;
    }
    .text-image__desc{
        font-weight: 200;
        font-size: 18px;
    }
    .inside-white--header .column{
        margin-top: 30px;
    }
    .device-text--right{
        font-size: 16px;
        line-height: 170%;
        padding-top: 40px;
    }
    .device-text--left{
        font-size: 16px;
        line-height: 170%;
        padding-top: 40px;
    }
    .device{
        width: 31.33%;
        padding: 1%;
    }
    .zoe-unique--half{
        width: 100%;
        float: none;
    }
    .row-item-third{
        width: 100%;
    }
    .row-item-seventh{
        width: 100%;
        padding-top: 0px;
        text-align: center;
        font-style: italic;
        line-height: 180%;
        font-size: 16px;
    }
    .zoe-unique--half:first-of-type{
        padding-bottom: 0px;
        padding-bottom: 3rem;

    }
    .content-black--no-pad{
        padding-top: 30px;
    }
    .content-black--no-pad h2{
        font-size: 23px;
    }
    .fw-200{
        font-weight: 200;
    }
    .big-rose-text{
        /* font-size: 3.5rem; */
        font-size: 70px;
        font-weight: 200px;
    }
    .yt-videos__row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .yt-videos__desc{
        padding: 15px;
    }
    .column3__video{
        max-width: 320px;
        width:100%;
        float:none;
        margin-bottom: 0;
    }
    .column3__video-header{
        font-size: 18px;
        text-align: center;
    }
    .row-item-half{
        width: 100%;
    }
    .row-flex--full-m{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        clear: both;
    }
    .column__btn{
        width: 44.1%;
        margin-right: 11px;
        margin-left: 0;
    }
    .column__btn a{
        padding: 15px 0;
        border-radius: 15px;
    }
    .column__btn .next:hover{
        padding: 15px 0;        
    }
    .column__header{
        font-size: 32px;
    }
    .column{
        width: 100%;
        padding:0px;
    }
    .column2{
        width: 100%;
        text-align: center;
        display: block;
        margin:0px auto 0px auto;
    }
    .column3{
        width: 100%;
        padding:0px;
    }
    .column3x3{
        float:left;
        width:31.33%;
        padding:1%;
    }
    .centerImageNW{
        text-align:center;
        display:block;
        max-width:100%;
        width:100%;
        margin:20px auto 0px auto;
    }
    .ReviewColumn{
        float:left;
        width:100%;
        padding:0px;
        margin-bottom:25px;
    }
    .ReviewColumn2{
        float:left;
        width:100%;
        padding:0px;
        font-size:17px;
        margin-bottom:25px;
    }
    /* .row-flex-features{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .column3-fitem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #ccc;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: left;
    } */
    .row-flex-features{
        width: 100%;
        margin-bottom: 10px;
    }
    .column3-fitem{
        line-height: 1;
    }
    .column3-fitem__img-holder{
        width: 100%;
    }
    .column3-fitem__img-holder img{
        margin-bottom: 0;
    }
    .features-desc{
        font-size: 14px;
        line-height: 0 !important;
    }
    .guarantee{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .guarantee__item{
        width: 100%;
    }
    .guarantee__img-holder{
        margin: 0 auto;
    }
    .guarantee__desc{
        text-align: center;
    }
    .guarantee__item:last-of-type .guarantee__header{
        padding-bottom: 0;
    }
}
@media (max-width: 745px){
    .guarantee__item:first-of-type .guarantee__header{
        padding-bottom: 0;
    }
}
@media (max-width: 900px){
    .inside-white--header .column{
        width: 100%;
        text-align: center;

        margin-top: 40px;
    }
    .animated-words{
        display: none;
    }
    .no-animate{
        display: inline-block;
    }
    .inside-white--header .column2{
        position: relative;
        float: none;
        width: 60%;
        margin: 0 auto;
    }
    .column h2{
        text-align: center;
    }
    .column__header{
        text-align: center;
    }
    .column__desc{
        text-align: center;
    }
    .column__desc p{
        width: 80%;
        display: inline-block;
    }
    /* .column__btn{
        margin-right: 25px;
    } */

    .quote{
        font-size: 5rem;
    }
    .ReviewColumn{
        width: 100%;
    }
    .ReviewColumn2{
        width: 100%;
    }
    .modal-slider__wrap{
        max-width: 80%;
        /* max-height: 100%; */
    }
    .slide-mo-left{
        float: none;
        width: 100%;
    }
    .slide-mo-desc{
        /* padding-top: 30px; */
        padding-top: 0;
    }
    .slide-mo-right{
        float: none;
        width: 100%;
    }
    .modal-slider-controls svg{
        fill: black;
        width: 10px;
    }
    .close-modal{
        left: 8px;
        right: auto;
        border-radius: 50%;
        background-color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    .modal-slider-controls--left{
        display: none;
    }
    .modal-slider-controls--right{
        display: none;
    }
    .slide-controls-responsive{
        display: block;
        text-align: right;
    }
    .slide-controls-responsive .modal-slider-controls--left{
        display: inline-block;
        position: relative;
        left: 0;
    }
    .slide-controls-responsive .modal-slider-controls--right{
        display: inline-block;
        position: relative;
        left: 0;
        right: 0;
    }
    /* footer */
    .footer-column-links{
        display: none;
    }
    .footer-column-links--show{
        display: block;
    }
    .footer-column-holder{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-column{
        width: 100%;
    }
    .block-title-column .fa{
        display: inline-block;
        float: right;
    }
    .fa-rotation{
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}
